extends layout

block content
  h1= title

  include include/path

  div #{result.name}
  div
    a(href='/download/#{result.id}') download
  div
    a(href='/convert/#{result.id}') convert

  include include/logout
